body
{
   font-family: sans-serif;
}

#sortedTable {
    display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            flex-wrap:wrap;
}

.item {
     display: flex;
    align-items: center;
    padding : 2px 10px;
    border: 1px solid #cacaca;
    border-radius:4px; 
    margin : 3px 5px;

}

.emoji{
    font-family: "Noto Color Emoji", sans-serif;
}

h1
{
    text-align: center;
    margin-top: 1.5rem;
    font-style: italic;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: 100;
}

p#about
{
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
}

hr
{
    width: 50%;
    border: none;
    height: 1px;
    margin: 1rem auto;
    background: linear-gradient(to right,
        rgba(200, 200, 200, 0) 0%,
        rgba(200, 200, 200, 1) 25%,
        rgba(200, 200, 200, 1) 75%,
        rgba(200, 200, 200, 0) 100%);
    clear: left;
}

.gauge
{
    display: inline-block;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

/* Twice the size of the small ones, for proper wrapping / alignment */
.gauge#global
{

    width: 30rem;
    height: 31rem;
}

.gauge#wikidatawiki
{
    float: left;
    width: 30rem;
    height: 31rem;
}

#special-projects .gauge
{
    float: unset;
    display: inline-block;
}

#special-projects
{
    margin-inline: auto;
    margin-block: auto;
    margin: 0 auto;
    width: fit-content;
}
